* {
    margin: 0;
    padding: 0;
}

.container {
    background: url("../src/img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: #8d1814;
    font-size: 10em;
    font-family: 'Mountains of Christmas', cursive;
}